
    <title>Tower of God</title>
</head>
<body>
    <header>
       <nav class="navbar">
        <div class="navbar-logo"><a href="/" style="width: 5px; font-size: 25px">Tower of God</a></div>
        <div class="navbar-right">
                <a href=""style="font-size: 16px;padding-right:25px">FanArt</a>
                <a href=""style="font-size: 16px;padding-right:25px">Personnages</a>
                <a href=""style="font-size: 16px; padding-right:25px">Scan</a>
     </div>
        <div class="navbar-right">

                <a href=""style="font-size: 16px">Bam</a>
          <a href="" >  <%= image_tag 'bam.jpg',class:"roundedImage" %></a>  
         <a href="#"><button class="btn-blue" type="button">Déconnexion</button></a>   
    </div>
            
       </nav>
    </header>

<div class="banner">
    
</div>
<div>
        <section class="tabs-frame">
                <!-- TAB 1 -->
                <article class="tab">
                  <input type="radio" id="tab_1" class="radio" name="tab_group_1" />
                  <label for="tab_1" class="tab-button"></label>
                  <section id="tab_frame_1" class="tab-frame">
                    <h2>Scan 394</h2>
                     <%= image_tag 'scan394.jpg',class:"scanImage" %>
                    <p class="resume">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                  </section>
                </article>
                <!-- TAB 2 -->
                <article class="tab">
                  <input type="radio" id="tab_2" class="radio" name="tab_group_1" />
                  <label for="tab_2" class="tab-button"></label>
                  <section id="tab_frame_2" class="tab-frame">
                        <h2>Scan 393</h2>
                    <%= image_tag 'scan393.jpg',class:"scanImage" %>
                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                  </section>
                </article>
                <!-- TAB 3 -->
                <article class="tab">
                  <input type="radio" id="tab_3" class="radio" name="tab_group_1" checked />
                  <label for="tab_3" class="tab-button"></label>
                  <section id="tab_frame_3" class="tab-frame">
                        <h2>Scan 392</h2>
                     <%= image_tag 'scan392.jpg',class:"scanImage" %>
                    <p class="resume">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
                  </section>
                </article>
                <!-- TAB 4 -->
                <article class="tab">
                  <input type="radio" id="tab_4" class="radio" name="tab_group_1" />
                  <label for="tab_4" class="tab-button"></label>
                  <section id="tab_frame_4" class="tab-frame">
                        <h2>Scan 391</h2>
                    <%= image_tag 'scan391.jpg',class:"scanImage" %>
                    <p class="resume">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
                    <p class="resume">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.</p>
                  </section>
                </article>
                <!-- TAB 5 -->
                <article class="tab">
                  <input type="radio" id="tab_5" class="radio" name="tab_group_1" />
                  <label for="tab_5" class="tab-button"></label>
                  <section id="tab_frame_5" class="tab-frame">
                        <h2>Scan 390</h2>
                      <%= image_tag 'scan390.jpg',class:"scanImage" %>

                    <p class="resume">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
                  </section>
                </article>
              </section>
</div>

    
</body>
</html>